body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(80, 82, 81);
}

button {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all .2s ease-in-out;
    border-radius: 8px;
}

button:hover {
    transform: scale(1.05);
    background-color: rgb(202, 143, 179);

}

#calcContainer {
    padding: 16px;
    background-color: rgb(202, 143, 179);
    border-radius: 5px;
    box-shadow: 4px 4px 40px rgb(77, 136, 116);
}

#mainContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 600px;
    height: 700px;
    padding: 4px;
    background-color: rgb(77, 136, 116);
    border-width: 4px;
    border-radius: 5px;
    column-gap: 4px;
    row-gap: 4px;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

#del {
    grid-column-start: 3;
    grid-column-end: 5;
}

#answerContainer {
    grid-column-start: 1;
    grid-column-end: 5;
    height: 40px;
    
}

#answerDisplay {
    padding-top: 100px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: large;
}
